h1 {
	text-align: center;
	margin-top: 30px;
}

table {
	  table-layout: fixed;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 318px;
    height: 318px;
    margin: auto;
    margin-top: 50px;
}

td {
	  width: 106px !important;
	  height: 106px !important;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 45px;
    word-wrap: break-word;
    overflow: hidden;
    cursor: pointer;
}


.player_mode label {
  padding: 10px 20px;
  background-color: orange;
  border: thin  solid darkorange;
  border-radius: 10px;
  margin: 5px;
  display: inline-block;
}

#player_mode {
  text-align: center;
}

input[type="radio"] {
  display: none;
}


input[type="radio"]:checked + label {
  background-color: darkcyan;
  cursor: default;
  color: #E6E6E6;
  margin: auto;
}
